.collection {
	border: 1px solid black;

}

.riff_detail {
	border: 0px;
}

.tablature {
	font-family: Courier New, monospace;
  line-height: 20px;
  width: 100%;
}

table, th, td {
  padding-right: 5px;
  padding-top: 5px;
}

#riff-form {
  width: 100%;
}

#id_timesig_num {
  width: 45px;
}

#id_tab {
  width: 100%;
  height: 130px;
  line-height: 17px;
  padding: 5px;
  font-family: Courier New, monospace;
}

#id_desc {
  width: 100%;
  height: 50px;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 95%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 10px;
}

#myTable col {
  width: 12.5%;
}

#myTable th {
  background-color: #7e7e7e;
  color: #FFFFFF;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
  background-color: #FFFFFF;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}