{% extends 'base.html' %}
{% block title %}
<div style="margin-bottom: 10px;">	
	<h3 style="font-weight: bold; float: left;">Collection</h3>
	<a href="riff_new" class="btn btn-success" style='float: right;'>New Riff</a>
	<br>
</div>
{% endblock %}

{% block content %}

<input type="text" id="myInput" onkeyup="search_riffs()" placeholder="Shreddicus McRiffalicious" title="Search">
<table class="collection" id="myTable">
	<tr>
		<th>Author</th>
		<th>Riff</th>
		<th>Last Updated</th>
		<th>Key</th>
		<th>Time Signature</th>
		<th>Tags</th>
		<th>Audio Included?</th>
		<th>Notation Included?</th>
	</tr>
	{% for riff in riffs %}

		<!-- Only show riffs that are either owned by the user or public -->
		{% if riff.priv_vis == False or riff.author == user.profile %}
			<tr>
				<td>{{ riff.author.user }}</td>
				<td><a href="{% url 'riff_detail' pk=riff.pk %}">{{ riff.name }}</a></td>
				<td>Yesterday</td>
				<td>{{ riff.riff_key }}</td>
				<td>{{ riff.timesig_num }}/{{ riff.timesig_denom }}</td>
				<td>{{ riff.tags }}</td>
				<td>{{ riff.audio_file|yesno:"Yes!,No!" }}</td>
				<td>{{ riff.document|yesno:"Yes!,No!" }}</td>
			</tr>
		{% endif %}
		
	{% endfor %}
</table>

<script>

	var search_riffs = (function() {
		var input, filter, table, tr, td, i;
		input = document.getElementById("myInput");
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");

		return function() {
			filter = input.value.toUpperCase();
			
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
	
				if (td) {
					if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}       
			}
		}
	})();

</script>

{% endblock %}