{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<div style="margin-bottom: 10px;">
	<table style="width:100%">
		<tr>
			<td>
				<h3 class="section-heading">Collection</h3>
			</td>
			<td>
				<a href="riff_new" class="btn btn-success" style='float: right;'>New Riff</a>
			</td>
		</tr>
	</table>
	<br>
</div>
{% endblock %}

{% block content %}

<table class="collection" id="myTable">
	<tr>
		<th>Author<br><input type="text" id="author" onkeyup="search(0)" placeholder="Search" size="12"></th>
		<th>Riff<br><input type="text" id="riff_name" onkeyup="search(1)" placeholder="Search" size="20"></th>
		<th>Last Updated<br><input type="text" id="updated" onkeyup="search(2)" placeholder="Search" size="10"></th>
		<th>Key<br><input type="text" id="key" onkeyup="search(3)" placeholder="Search" size="10"></th>
		<th>Time Sig.<br><input type="text" id="time_sig" onkeyup="search(4)" placeholder="Search" size="5"></th>
		<th>Tags<br><input type="text" id="tags" onkeyup="search(5)" placeholder="Search" size="12"></th>
		<th><img src="{% static '/img/sound_icon.png' %}" width="40px" height=width alt=""></th>
		<th><img src="{% static '/img/doc_icon.png' %}" width="40px" height=width alt=""></th>
	</tr>

	{% for riff in riffs %}

		<!-- Only show riffs that are either owned by the user or public. -->
		{% if riff.priv_vis == False or riff.author == user.profile %}
			<tr>
				<td>{{ riff.author.user }}</td>
				<td><a href="{% url 'riff_detail' pk=riff.pk %}">{{ riff.name }}</a></td>
				<td>{{ riff.last_updated }}</td>
				<td>{{ riff.riff_key }}</td>
				<td>{{ riff.timesig_num }}/{{ riff.timesig_denom }}</td>
				<td>{{ riff.tags }}</td>
				<td>{{ riff.audio_file|yesno:"Yes!,No!" }}</td>
				<td>{{ riff.document|yesno:"Yes!,No!" }}</td>
			</tr>
		{% endif %}
		
	{% endfor %}
</table>

<script>

	function search(col_num) {

		var input, filter, table, tr, td, i;
		var col_ids = ["author", "riff_name", "updated", "key", "time_sig", "tags", "audio", "doc"]
		input = document.getElementById(col_ids[col_num]);
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");

		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[col_num];
			if (td) {
				if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}

</script>

{% endblock %}