{% extends 'base.html' %}

{% block content %}

<div align="center">
	<table class="collection_header>" style="width:80%">
		<tr>
			<td><h1>Collection</h1></td>
			<td>
				<form action="newriff" align="right">
					<input type="submit" value="Add Riff" />
				</form>
			</td>
		</tr>
	</table>

	<br>

	<input type="text" id="myInput" onkeyup="search_riffs()" placeholder="Shreddicus McRiffalicious" title="Search" style="width:80%">
	<table class="collection" id="myTable" style="width:80%">
		<tr>
			<th>Riff</th>
			<th>Last Updated</th>
			<th>Key</th>
			<th>Time Signature</th>
			<th>Tags</th>
			<th>Audio Included?</th>
			<th>Notation Included?</th>
		</tr>
		{% for riff in riffs %}
			<tr>
				<td><a href="{% url 'riff_detail' pk=riff.pk %}">{{ riff.name }}</a></td>
				<td>Yesterday</td>
				<td>{{ riff.riff_key }}</td>
				<td>{{ riff.timesig_num }}/{{ riff.timesig_denom }}</td>
				<td>Sweaty, slimy</td>
				<td>No!</td>
				<td>No!</td>
			</tr>
		{% endfor %}
	</table>
</div>

	<script>

		var search_riffs = (function() {
			var input, filter, table, tr, td, i;
			input = document.getElementById("myInput");
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");

			return function() {
				filter = input.value.toUpperCase();
				
				for (i = 0; i < tr.length; i++) {
					
					td = tr[i].getElementsByTagName("td")[0];
		
					if (td) {
		
						if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
		
							tr[i].style.display = "";
		
						} else {
		
							tr[i].style.display = "none";
		
						}
					}       
				}
			}
		})();

	</script>

{% endblock %}