{% load staticfiles %}
<html>
	<head>
		<title>Collection</title>
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
	</head>
	<body>
		<h1>Collection</h1>

		{% block content %}
			<table style="width:100%">
			<tr>
				<th>Riff</th>
				<th>Last Updated</th>
				<th>Key</th>
				<th>Time Signature</th>
				<th>Tags</th>
				<th>Audio Included?</th>
				<th>Notation Included?</th>
			</tr>
			{% for riff in riffs %}
				<tr>
					<td>{{ riff.name }}</td>
					<td>Yesterday</td>
					<td>{{ riff.riff_key }}</td>
					<td>{{ riff.timesig_num }}/{{ riff.timesig_denom }}</td>
					<td>Sweaty, slimy</td>
					<td>No!</td>
					<td>No!</td>
				</tr>
			{% endfor %}
			</table>

			<a href="newriff">Add Riff</a>

		{% endblock %}
	</body>
</html>