{% extends 'base.html' %}

{% block content %}
	<h1>Collection</h1>

	<table class="collection" style="width:80%">
		<tr>
			<th>Riff</th>
			<th>Last Updated</th>
			<th>Key</th>
			<th>Time Signature</th>
			<th>Tags</th>
			<th>Audio Included?</th>
			<th>Notation Included?</th>
		</tr>
		{% for riff in riffs %}
			<tr>
				<td><a href="{% url 'riff_detail' pk=riff.pk %}">{{ riff.name }}</a></td>
				<td>Yesterday</td>
				<td>{{ riff.riff_key }}</td>
				<td>{{ riff.timesig_num }}/{{ riff.timesig_denom }}</td>
				<td>Sweaty, slimy</td>
				<td>No!</td>
				<td>No!</td>
			</tr>
		{% endfor %}
	</table>

	<a href="newriff">Add Riff</a>
{% endblock %}