{% extends 'base.html' %}
{% block content %}

	<h2><bold>{{ riff.name }}</bold></h2>

	<table class="riff_detail">
		<colgroup>
			<col style="width:20%">
			<col>
		</colgroup>
		<tr>
			<th>Key:</th>
			<td>{{ riff.riff_key }}</td>
		</tr>
		<tr>
			<th>Time Signature:</th>
			<td>{{ riff.timesig_num }}/{{ riff.timesig_denom }}</td>
		</tr>
		<tr>
			<th>Description:</th>
			<td>{{ riff.desc }}</td>
		</tr>
		<tr>
			<th>Tablature:</th>
			<td>			
				<div class="tablature">
					<pre>{{ riff.tab }}</pre>
				</div>
			</td>
		</tr>
		<tr>
			<th>Tags:</th>
			<td>{{ riff.tags }}</td>
		</tr>
	</table>

	<div>
		{% if riff.audio_file %}
			<audio controls>
				<source src="{{ riff.audio_file.url }}">
			</audio>
		{% endif %}
	</div>

	<div>
		<button onclick="delete_riff()" class="btn btn-danger">Delete Riff</button>		
	</div>

	<a href="{% url 'riff_edit' pk=riff.pk %}">
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit</span>
		</button>
	</a>
	<br>
	<a href="{% url 'collection' %}">Return to Collection</a>

{% endblock %}

{% block scripts %}
	<script>
		function delete_riff() {
			if (confirm('Are you sure you want to delete {{ riff.name }}?')) {
				window.location = "{% url 'delete_riff' riff.pk %}";
			}
		}
	</script>
{% endblock %}
