{% extends 'base.html' %}

{% block title %}
<div style="margin-bottom: 10px;">	
	<h3 style="font-weight: bold; float: left;">Inbox</h3>
	<a href="send_message" class="btn btn-success" style='float: right;'>Send Message</a>
	<br>
</div>
{% endblock %}

{% block content %}

<table class="inbox" id="myTable">
	<tr>
		<th>From</th>
		<th>Subject</th>
		<th>Sent</th>
		<th>Select</th>
	</tr>

	{% for message in messages %}
	{% if message.message_sent_by != user and message.message_received_by == user %}
	<tr>
		<td>{{ message.message_sent_by }}</td>
		<td>{{ message.subject }}</td>
		<td>{{ message.sent_time }}</td>
		<td><input id="select" type="checkbox"></td>
	</tr>
	{%  endif %}
	{% endfor %}

</table>

{% endblock %}