{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<div style="margin-bottom: 10px;">	
	<table style="width:100%">
		<tr>
			<td>
				<h3 class="section-heading">Inbox</h3>
			</td>
			<td>
				<a href="message_send" class="btn btn-success" style='float: right;'>Send Message</a>
				<button onclick="message_delete()" class="btn btn-danger" style='float: right;'>Delete Selected</button>
			</td>
		</tr>
	</table>
	<br>
</div>
{% endblock %}

{% block content %}

<div id="inbox-buttons">
</div>
<br>

<table class="inbox" id="myTable">
	<tr>
		<th>From</th>
		<th>Subject</th>
		<th>Sent</th>
		<th>Read?</th>
		<th>Select</th>
	</tr>

	{% for message in messages %}
	<tr>
		<td>{{ message.message_sent_by }}</td>
		<td><a href="{% url 'message_detail' message.pk %}">{{ message.subject }}</a></td>
		<td>{{ message.sent_time }}</td>
		<td>{{ message.read|yesno:'Yes!,No!'}}</td>
		<td width="5%" align="center"><input id="select" type="checkbox"></td>
		<td style="display: none;">{{ message.pk }}</td>
	</tr>
	{% endfor %}

</table>

{% endblock %}

{% block scripts %}
	<script src="{% static 'js/jquery-3.2.1.js' %}"></script>

	<script>
		
		function message_delete() {
			let table = document.getElementById('myTable').tBodies[0];

			if (confirm('Are you sure you want to delete the selected message(s)?')) {

				for(let i=1; i < table.rows.length; i++) {
					let row = table.rows[i];
					let cb = row.cells[4].getElementsByTagName('input')[0];
					if(cb.type == 'checkbox' && cb.checked) {
						table.deleteRow(i);
						i--;
						let pk = row.cells[5].innerText;
						$.ajax('/inbox/message_delete/' + pk);
					}
				}
			}
		}
	</script>
{% endblock %}
