{% extends 'base.html' %}

{% block title %}
<div style="margin-bottom: 10px;">
	<table style="width:100%">
		<tr>
			<td>
				<h3 class="section-heading">Send Message</h3>
			</td>
			<td>
				<a href="{% url 'inbox' %}" class="btn btn-primary" style='float: right;'>Return to Inbox</a>
			</td>
		</tr>
	</table>
</div>
{% endblock %}

{% block content %}
<div id="vue-msg-div">
	<div class="form-group col-md-4">
			<label for="toText">To</label>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Recipient</button>
				<div class="dropdown-menu" style="height: auto; max-height: 6em; overflow-x: hidden" 
						aria-labelledby="dropdownMenuButton">
					{% for user in users %}
					<a class="dropdown-item" v-on:click="setReceiver('{{ user }}')" href="#">{{user}}</a>
					{% endfor %}
				</div>
			</div>
	</div>
	<div class="form-group col-md-4">
		<label for="subjectTest">Subject</label>
		<input type="text" class="form-control" id="subjectText" 
			placeholder="Enter subject" maxlength="20">
		<small id="subjectHelp" class="form-text text-muted">20 character max</small>
	</div>
	<div class="form-group col-md-8">
		<label for="exampleTextarea">Message</label>
		<textarea class="form-control" id="messageTextArea" rows="3" maxlength="1000"></textarea>
		<small id="emailHelp" class="form-text text-muted">1000 character max</small>
		<button type="button" v-on:click="message_send" style="float: right"class="btn btn-success">Send</button>
	</div>
	<div class="alert alert-success col-md-6" role="alert" v-if="msg_alert == 'success'">
		<strong>Message Sent!</strong>
	</div>
	<div class="alert alert-danger col-md-6" role="alert" v-if="msg_alert == 'failure_recipient'">
		<strong>Oh snap!</strong> Please select a recipient
	</div>
	<div class="alert alert-danger col-md-6" role="alert" v-if="msg_alert == 'failure_subject'">
		<strong>Oh snap!</strong> Please fill out the 'subject' field
	</div>
	<div class="alert alert-danger col-md-6" role="alert" v-if="msg_alert == 'failure_message'">
		<strong>Oh snap!</strong> Please fill out the 'message' field
	</div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="../../static/js/vue.js"></script>
<script src="../../static/js/jquery-3.2.1.js"></script>
<script src="../../static/popper/popper.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
 <!-- Vue.js -->
 <script>
	 	
			var app = function() {
				var self = {};
				
	
				self.message_send = function() {

					self.vue.send_to_user = document.getElementById('dropdownMenuButton').innerHTML;
					self.vue.subject = document.getElementById('subjectText').value;
					self.vue.message = document.getElementById('messageTextArea').value;
					
					if(self.vue.send_to_user == "Select Recipient") self.vue.msg_alert = "failure_recipient";
					else if (self.vue.subject == "") self.vue.msg_alert = "failure_subject";
					else if (self.vue.message == "") self.vue.msg_alert = "failure_message";
					else {
						$.ajax({
							type: "POST",
							url: "/inbox/message_send/",
							data: { 
									"send_to_user": self.vue.send_to_user,
									"subject": self.vue.subject,
									"message": self.vue.message
									
									},
							dataType: 'json',
							success: function (json) {
								self.message_alert(json);
								self.vue.msg_alert = (json['message_saved'] == true) ? "success" : "failure";
								if(json['message_saved'] == true) {
									document.getElementById('dropdownMenuButton').innerHTML = "Select Recipient";
									document.getElementById('subjectText').value = "";
									document.getElementById('messageTextArea').value = "";
								}
							}
						});
					}
				}

				self.messageAlert = function(json) {
					console.log(json);
				}

				self.setReceiver = function(user) {
					console.log("Set Receiver" + user);
					document.getElementById('dropdownMenuButton').innerHTML = user;
					
				}

				self.vue = new Vue({
					el: "#vue-msg-div",
					data: {
						message: "",
						send_to_user: "",
						subject: "",
						msg_alert: ""
					},
					methods: {
						message_send: self.message_send,
						message_alert: self.message_alert,
						setReceiver: self.setReceiver
					}
				});
				return self;
			};
			
			var APP = null;
			// This will make everything accessible from the js console;
			// for instance, self.x above would be accessible as APP.x
			jQuery(function(){APP = app();});
	   
		</script>
{% endblock %}