{% extends 'base.html' %}

{% block title %}
	<div style="overflow: hidden">
		<div style="float: left">{{ message.subject }}</div>
		<a href="{% url 'inbox' %}" class="btn btn-primary" style='float: right;'>Return to Inbox</a>
	</div>
{% endblock %}

{% block content %}
	<div style="margin-bottom: 20px">Sent by {{ message.message_sent_by }} on {{ message.sent_time|date:'d N Y' }}</div>

	<div>
		{{ message.body }}
	</div>

	<div>
		<button onclick="delete_message()" class="btn btn-danger">Delete Message</button>		
	</div>
{% endblock %}

{% block scripts %}
<script>
	function delete_message() {
		if (confirm('Are you sure you want to delete this message?')) {
			window.location = "{% url 'message_delete' message.pk %}";
		}
	}
</script>
{% endblock %}
