{% extends 'base.html' %}

{% block title %}
<div style="margin-bottom: 10px;">	
	<h3 style="font-weight: bold; float: left;">Send Message</h3>
	<a href="{% url 'inbox' %}" class="btn btn-primary" style='float: right;'>Return to Inbox</a>
	<br>
</div>
{% endblock %}

{% block content %}
<div id="vue-msg-div">
	<!--
	<div class="form-group col-md-4">
		<label for="toText">To</label>
		<input type="text" class="form-control" id="sendToUser" 
			placeholder="Enter user" maxlength="20">
		<small id="subjectHelp" class="form-text text-muted">20 character max</small>
	</div>
	-->
	<div class="form-group col-md-4">
			<label for="toText">To</label>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Select Recipient
				</button>
				<div class="dropdown-menu" style="height: auto; max-height: 6em; overflow-x: hidden" 
						aria-labelledby="dropdownMenuButton">
					{% for user in users %}
					<a class="dropdown-item" v-on:click="setReceiver('{{ user }}')" href="#">{{user}}</a>
					{% endfor %}
				</div>
			</div>
	</div>
	<div class="form-group col-md-4">
		<label for="subjectTest">Subject</label>
		<input type="text" class="form-control" id="subjectText" 
			placeholder="Enter subject" maxlength="20">
		<small id="subjectHelp" class="form-text text-muted">20 character max</small>
	</div>
	<div class="form-group col-md-8">
		<label for="exampleTextarea">Message</label>
		<textarea class="form-control" id="messageTextArea" rows="3" maxlength="1000"></textarea>
		<small id="emailHelp" class="form-text text-muted">1000 character max</small>
		<button type="button" v-on:click="sendMessage" style="float: right"class="btn btn-success">Send</button>
	</div>
	<div class="alert alert-success col-md-6" role="alert" v-if="msg_alert == 'success'">
		<strong>Message Sent!</strong>
	</div>
	<div class="alert alert-danger col-md-6" role="alert" v-if="msg_alert == 'failure'">
		<strong>Oh snap!</strong> An error occurred
	</div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="../../static/js/vue.js"></script>
<script src="../../static/js/jquery-3.2.1.js"></script>
<script src="../../static/popper/popper.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
 <!-- Vue.js -->
 <script>
	 	
			var app = function() {
				var self = {};
				
	
				self.sendMessage = function() {

				  self.vue.send_to_user = document.getElementById('dropdownMenuButton').innerHTML;
				  self.vue.subject = document.getElementById('subjectText').value;
				  self.vue.message = document.getElementById('messageTextArea').value;
				  //console.log(self.vue.send_to_user);
				  //console.log(self.vue.subject);
				  //console.log(self.vue.message);

				  $.ajax({
							type: "POST",
							url: "/inbox/send_message/",
							data: { 
									"send_to_user": self.vue.send_to_user,
									"subject": self.vue.subject,
									"message": self.vue.message
									
									},
							dataType: 'json',
							success: function (json) {
								self.messageAlert(json);
								self.vue.msg_alert = (json['message_saved'] == true) ? "success" : "failure";
							}
						});
				}
			   
				self.messageAlert = function(json) {
					console.log(json);
				}

				self.setReceiver = function(user) {
					console.log("Set Receiver" + user);
					document.getElementById('dropdownMenuButton').innerHTML = user;
					
				}

				self.vue = new Vue({
					el: "#vue-msg-div",
					//rdelimiters: ['$[', ']'],
					//unsafeDelimiters: ['!{', '}'],
					data: {
					   message: "",
					   send_to_user: "",
					   subject: "",
					   msg_alert: ""

					},
					methods: {
						sendMessage: self.sendMessage,
						messageAlert: self.messageAlert,
						setReceiver: self.setReceiver
					}
				});
				return self;
			};
			
			var APP = null;
			// This will make everything accessible from the js console;
			// for instance, self.x above would be accessible as APP.x
			jQuery(function(){APP = app();});
	   
		</script>
{% endblock %}