<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Account Settings</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/logo-nav.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="http://placehold.it/300x60?text=Logo" width="150" height="30" alt="">
        </a>
        <div class="navbar-header">
                <a class="navbar-brand" href="#">...Follow the smoke to the riff-filled land</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/collection">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="background-color: #EEEEEE; padding: 2em; margin-top: 2em; margin-bottom: 3em">
      <div class=row>
        <div class="col-lg-8">
          <h4 class="mt-5" style="padding-bottom: 2em">Account Settings</h4>
          <p style="">Username: {{ user }}</p>
          <p style="display: inline; margin-right: 2em">Email: {{ user }}</p>
          <button type="button" class="btn-sm btn-info" style="display: inline;">Reset Email</button>
        </div>
        <div class="col-md-10" style="margin-top: 3em">
          <div class="form-group">
            <label for=""><span style="font-weight: bold">About me: </span> 
              Instruments you play, influences, how much you tend to write, etc</label>
            <textarea class="form-control" rows="5" id="bio"></textarea>
          </div>
          <div>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description" style="font-weight: bold">Private Account?</span>
              <p style="display: inline; margin-left: 3em">Private accounts cannot be viewed by other users and all riffs will be set to "private"</p>
            </label>
          </div>  
      </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-info" style="float: right;">Reset Password</button>
        </div>
        <div class="col-md-8">
            <button type="button" class="btn btn-primary" style="float: right;">Save</button>
        </div>
    </div>
    </div>
   

    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/js/jquery-3.2.1.js"></script>
    <script src="../../static/popper/popper.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
