{% extends 'base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container" >
        <div class="row" style="">
            <div class="col-md-3"></div>
            <div id="content-container" class="col-md-6"  style="margin-top: 2em; border-radius: 5%; background-color: #EEEEEE;">
                <div class="" style="margin: 0 auto; padding: 2em">
                    <form id="login-form" method="post" 
                        action="">
                        {% csrf_token %}
                        <h2 style="margin-bottom: 1em">Sign in</h2>
                        <table class="table">
                            <tr>
                                <td><label for="id_username">Username:</label></td>
                                <td><input id="id_username" name="username" 
                                        type="text"></td>
                            </tr>
                            <tr>
                                <td><label for="id_password">Password:</label></td>
                                <td><input id="password1" name="password" 
                                        type="password"></td>
                            </tr>
                        </table>
                        {% if form.errors %}
                            <p class=" label label-danger" style="color: red">
                                Your username and password didn't match. 
                                Please try again.
                            </p>
                        {% endif %}

                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="../../static/js/jquery-3.2.1.js"></script>
    <script src="../../static/popper/popper.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
{% endblock %}